:root {
    --primary-theme-color: #20232a;
    --secondary-theme-color: #282c34;
    --text-color: #fff;
    --primary-shadow-color: #8888;
    --secondary-shadow-color: #21242c80;
    --shadow-color: #8888;
    --button-color: #61dafb;
    --button-color-active: #fff;
    --button-text-color: #000;
    --primary-highlight: #61dafb;
    --secondary-highlight: #ffd700;
    --padding-section: 2em 0;
    --padding-container: 0 2em;
    --max-width-container: 1024px;
    --border-radius: 0.5rem;
    --all-transitions: all 0.25s;
  }

  .body{
      background-image: url('https://pixabay.com/get/g9a951ff85e438ece308d5fabba6271ac5a555ca386e24c4ce54c6019b09cf4e457702eae49397c4878815fd898c6335d.jpg');
  }
  .header{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(51, 102, 189);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.header-nav{
    padding: 0.5em 0;
    
}
.header-nav__container{
    padding: var(--padding-container);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav__link-logo-container{
    display: flex;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}
.header-nav__link-logo{
    height: 100%;
    
}
.header-nav__menu-link-list{
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
       
}
.header-nav__menu-link-item{
    display: flex;
}
.header-nav__menu-link{
    position: relative;
    color:var(--text-color);
    text-decoration: none;
    transition: var(--all-transitions);
    font-weight: bold;
}
.header-nav__menu-link:hover{
    color: var(--primary-highlight);

}
.header-nav__menu-link::after{
    content: '';
    position: absolute;
    background-color: var(--secondary-highlight);
    bottom: 0;
    width: 0;
    height: 0.0625rem;
    left: 0.125rem;
    transition: var(--all-transitions);
}
.header-nav__menu-link:hover:after{
    width: 100%;
}


.header__professional-image {
    width: 100%;
    border-radius: 50%;
    
  }
  .header__professional-image-container{
      width: 20rem;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      transition: all 0.5rem;
  }
  .main-infPer{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      width: 50%;
      text-align: center;
      display: grid;
      margin: 1rem;
      
      
  }
  .main{
      justify-content: space-between;
      display: flex;
      gap: 5rem;
      font-size: 2rem;
      color: #101dd0;
      
      
  }
  .form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10rem;
    background-color:#4f8adc;
    border-radius: 5rem;
  }
  .header__professional-image:hover{
    box-shadow: 0 0 1rem 0 rgb(25, 4, 100);
}
input{
    border-radius: 0.5rem;
    padding: 0.5rem;  
    
}
.article{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(41, 209, 131);
}

@media(max-width:1123px){
    .main{
        display: grid;
        
        
    }
    .main-infPer{
        justify-content: center;
    }
}


